
* {
box-sizing: border-box;
margin:0;
}

.sidebar {
    background-color: purple;
    color:white;
    height:100vh;
    width:300px;
}

.sidebar ul {
    list-style-type:none;
}

.icon {
    fill: #fff;
    height:3rem;
    display:grid;
    border:1px solid black;
    margin-left:1rem;
}

.sidebar-top {
    display:grid;
    border:1px solid black;
    font-size: 1.5rem;
    font-weight: bold;
    gap:1rem;
    display:flex;
    align-items: center;
}
.sidebar-top p {
    display:grid;
    border:1px solid black;
    place-items: center;

    
}

.sidebar-middle {
    display:flex;
}
.sidebar-middle li {
    display:flex;
    gap:1rem;
    align-items: center;
    
}

